.show-wrapper
  .show-inner
    %h1.show-title
      = @event.created_at.strftime('%Y年%m月%d日の成長記録')
    .show-eventimg
      = image_tag @event.image.url, size: "100x100", class:'eventimg'
    %br
    .show-event
      .show-eventinner
        .show-eventtitle
          = @event.title
        .show-eventday
          = @event.created_at.strftime('%Y/%m/%d')
    .show-eventtext
      = @event.text
    .show-edit
      .show-editbtn
        = link_to '成長記録を編集する', "/events/#{@event.id}/edit", method: :get
    .top-btn
      = link_to 'Top', events_path