%h1
  2020年8月02日の成長記録
  = image_tag(image_url("#{@post.image}"))
  = @post.title
  = @post.created_at.strftime('%Y/%m/%d')
  = @post.text

  = link_to '編集', "/posts/#{@post.id}/edit", method: :get
  = link_to '削除', "/posts/#{@post.id}", method: :delete